@font-face {
    font-family: 'jejumyeongjo.woff2';
    src:
        url('../fonts/jejumyeongjo.woff2') format('woff2'),
        url('../fonts/jejumyeongjo.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Alice-Regular.woff2';
    src: 
    url('../fonts/Alice-Regular.woff2') format('woff2'),
    url('../fonts/Alice-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

