@import 'fonts',
'mixin',
'normolazy',
'variables';


html {
    font-family: 'jejumyeongjo', sans-serif;
    font-family: 'Alice-Regular', sans-serif;
}

.body {
    overflow: hidden;
}

.container {
    max-width: 1900px;
    padding: 0 10px;
    margin: auto;
}

.header {
    position: relative;
    z-index: 60;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 1080px;

    &__pupap {
        transform: translateY(-100%);
        display: none;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 50vh;
        background-color: #EF8662;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    &__pupap-list {
        margin-left: 50px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__pupap-list-item {
        a {
            font-size: 30px;
            color: white;
        }
    }


    &_bg {
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 1080px;
    }

    &__container {
        position: relative;
        z-index: 60;
        background: url(../images/dist/Element1.png)top -220px left -160px/400px 745px no-repeat,
            url(../images/dist/Element-header.png)top -220px right -135px/400px 745px no-repeat;
    }

    &__decor-left {
        position: absolute;
        top: -201px;
        right: -120px;
        transform: rotateY(180deg);
    }

    &__decor-right {
        position: absolute;
        top: -200px;
        left: -169px;
    }

    &__menu {
        width: 100%;
        display: flex;
        gap: 170px;
        justify-content: center;
    }

    &__logo {
        position: relative;
        top: -5%;

        &::before {
            content: "";
            display: block;
            position: absolute;
            right: 347px;
            top: 30px;
            max-width: 190px;
            width: 100%;
            height: 100%;
            background-image: url("../images/dist/Element2.png");
            z-index: 30;
            background-repeat: no-repeat;
            transform: rotateX(0deg);
            transform: rotateY(180deg);
        }


        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 347px;
            top: 30px;
            max-width: 190px;
            width: 100%;
            height: 100%;
            background-image: url("../images/dist/Element2.png");
            z-index: 30;
            background-repeat: no-repeat;
        }
    }

    &__burger {
        display: none;
        opacity: 0;
        width: 50px;
        height: 30px;
        position: relative;
        top: 100px;
        z-index: 100;

        span {
            position: absolute;
            top: calc(50% - 1px);
            left: 0%;
            width: 100%;
            height: 3px;
            background-color: white;
            border-radius: 10px;
            transition: all 0.5s;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: auto;
                bottom: 0;
            }
        }
    }

    &__content-block {
        margin-top: 105px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        @include fluid-text (80, 45);
        font-weight: 400;
        line-height: 60px;
        color: rgb(255, 255, 255);
        display: inline-block;
        margin-bottom: 167px;
    }

    &__btn {
        max-width: 590px;
        border: 4px solid rgb(255, 255, 255);
        border-radius: 39px;
        background-color: transparent;
        margin-bottom: 223px;
        transition: all 0.4s;

        &:hover {
            background-color: rgb(239, 134, 98, 0.2);

        }

        a {
            display: inline-block;
            padding: 33px 75px 40px 75px;
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: 400;
            line-height: 37px;
        }
    }
}

._active-pup {
    opacity: 1;
    display: block;
    transform: translateY(0%);
}

._active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s;

    &>span {
        transform: scale(0);

        &:first-child {
            top: calc(50% - 1px);
            transform: rotate(-45deg);
        }

        &:last-child {
            top: calc(50% - 1px);
            transform: rotate(45deg);
        }
    }
}

.nav {
    padding-top: 87px;

    &__list-item {
        display: flex;

        &_left {
            gap: 192px;

            align-items: center;
        }

        &_right {
            gap: 81px;

            text-align: center;
            align-items: center;
        }

        a {
            color: rgb(255, 255, 255);
            @include fluid-text(40, 30);
            font-weight: 400;
            line-height: 40px;
        }
    }
}

// main=====



.wrap-section {
    overflow: hidden;
    background: url("../images/dist/bacground.jpeg");
    height: 1080px;
    max-width: 1900px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 50%;
    transform: translate(-50%, 1080px);
}

.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 1, 22);
    overflow: hidden;

    &__container {
        height: 1080px;
        background:
            url("../images/dist/hero-left.png") bottom left -175px/316px 190px no-repeat,
            url("../images/dist/hero-right.png") bottom right -175px/316px 190px no-repeat,
            url("../images/dist/hero-top-left.png") center left/72px 319px no-repeat,
            url("../images/dist/hero-top-right.png") center right/72px 319px no-repeat;
    }

    &__inner {
        position: relative;
    }

    &__images {
        position: relative;
        top: 74px;
        left: 50%;
        width: 800px;
        height: 300px;
        transform: translate(-50%, 0%);
    }

    &__title {
        position: absolute;
        left: 50%;
        bottom: 95px;
        transform: translate(-50%, 0%);

        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0%;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 638px;
    }

    &__content {
        p {
            max-width: 410px;
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0%;
            text-align: center;
        }
    }

    &__wrap-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 140px;

    }

    &__block-btn {
        position: relative;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border: 2px solid rgb(192, 117, 55);
        }
    }

    &__btn-text1 {
        bottom: 82px;
        left: 120px;
        width: 130px;
        height: 130px;
        background-color: rgb(255, 248, 230);
        border-radius: 20px;
        clip-path: polygon(0% 15%, 10% 11%, 15% 0%, 85% 0%, 89% 11%, 100% 15%, 100% 85%, 88% 89%, 85% 100%, 15% 100%, 11% 89%, 0% 85%);

        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;

    }

    &__btn-text2 {
        top: -4px;
        left: 174px;
        width: 330px;
        height: 40px;
        background-color: rgb(255, 248, 230);
        border-radius: 20px;

        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }

    &__btn-text3 {
        left: 403px;
        top: 91px;
        text-align: center;
        width: 240px;
        height: 100px;
        background-color: rgb(255, 248, 230);
        border-radius: 50px;

        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }

    &__btn-text4 {
        bottom: 82px;
        right: 120px;
        width: 130px;
        height: 130px;
        background-color: rgb(255, 248, 230);
        border-radius: 20px;
        clip-path: polygon(0% 15%, 10% 11%, 15% 0%, 85% 0%, 89% 11%, 100% 15%, 100% 85%, 88% 89%, 85% 100%, 15% 100%, 11% 89%, 0% 85%);

        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }

    &__btn-text5 {
        top: -4px;
        right: 165px;
        width: 330px;
        height: 40px;
        background-color: rgb(255, 248, 230);
        border-radius: 20px;

        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }

    &__btn-text6 {
        right: 403px;
        top: 91px;
        text-align: center;
        width: 240px;
        height: 100px;
        background-color: rgb(255, 248, 230);
        border-radius: 50px;

        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }

    &__button {
        position: relative;
        margin-bottom: 30px;
        background-color: transparent;
        border: none;


        a {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, 0%);

            color: rgb(0, 0, 0);
            font-size: 28px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: center;
        }
    }

    &__images-btn {
        width: 285px;
        height: 258px;
    }
}


// bacground===

.baground {
    height: 252px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// services==

.services {
    background-color: rgb(0, 1, 22);

    &__bg-inner {
        background:
            url("../images/dist/Element4.png") top left/353px 342px no-repeat,
            url("../images/dist/Element-top-right.png") top right/353px 342px no-repeat,
            url("../images/dist/Element-bottom-right.png") bottom right/353px 342px no-repeat,
            url("../images/dist/Element-bottom-left.png") bottom left/353px 342px no-repeat;
    }

    &__container {
        background:
            url("../images/dist/ElementBottom.png") top/756px 110px no-repeat,
            url("../images/dist/Element3.png") bottom/756px 110px no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-top: 148px;
        margin-bottom: 68px;
        color: rgb(255, 255, 255);
        @include fluid-text(80, 60);
        font-weight: 400;
        line-height: 91px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 84px;
    }

    &__card {
        width: 312px;
        min-height: 388px;
    }

    &__text {
        margin-top: 22px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: center;
    }

    &__button {
        border: 4px solid rgb(239, 134, 98);
        border-radius: 39px;
        background: rgb(255, 248, 230);
        margin: 80px 0 166px 0;

        a {
            display: block;
            padding: 39px 41px;
            color: rgb(0, 1, 22);
            font-size: 28px;
            font-weight: 400;
            line-height: 32px;
            text-align: center;
        }
    }
}


.clients {
    background-color: rgb(0, 1, 22);

    &__bg-inner {}

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 0;
        background:
            url("../images/dist/top-left.png") top 150px left/314px 107px no-repeat,
            url("../images/dist/top-right.png") top 150px right/314px 107px no-repeat,
            url("../images/dist/bottom-right.png") bottom 150px right/314px 107px no-repeat,
            url("../images/dist/bottom-left.png") bottom 150px left/314px 107px no-repeat;
    }

    &__title {
        margin-top: 148px;
        margin-bottom: 68px;
        color: rgb(255, 255, 255);
        @include fluid-text(80, 60);
        font-weight: 400;
        line-height: 91px;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 19px 81px;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 480px;
        min-height: 414px;

        &::after {
            position: absolute;
            width: 140px;
            height: 180px;
            content: '';
            background-image: url("../images/dist/circle-card-left.png");
            background-repeat: no-repeat;
        }

        &::before {
            position: absolute;
            width: 140px;
            height: 180px;
            content: '';
            background-image: url("../images/dist/Element5.png");
            background-repeat: no-repeat;
        }

        &_one {
            &::after {
                top: 87px;
                left: 25px;
            }

            &::before {
                top: 10px;
                right: 33px;
            }
        }

        &_two {
            &::after {
                top: 59px;
                left: 44px;
                background-image: url("../images/dist/kvadrat-card-left.png");
            }

            &::before {
                top: 57px;
                right: -15px;
                background-image: url("../images/dist/kvadrat-card-right.png");
            }
        }

        &_fore {
            &::after {
                top: 103px;
                left: 25px;
            }

            &::before {
                top: 28px;
                right: 33px;
            }
        }

        &_five {
            &::after {
                top: 76px;
                left: 25px;
            }

            &::before {
                top: 0px;
                right: 33px;
            }
        }

        &_eight {
            &::after {
                top: 114px;
                left: 25px;
            }

            &::before {
                top: 38px;
                right: 33px;
            }
        }

        &_gap {
            gap: 25px;
        }

        &_gap-small {
            gap: 10px;
        }

        &_gap-big {
            gap: 55px;
        }
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: center;
        margin: 0;
    }

    &__content {
        color: rgb(255, 255, 255);
        @include fluid-text(36, 28);
        font-weight: 400;
        line-height: 41px;
        text-align: center;
        max-width: 60%;
        margin-top: 72px;
    }

    &__button {
        border: 4px solid rgb(239, 134, 98);
        border-radius: 39px;
        background: rgb(255, 248, 230);
        margin: 80px 0 166px 0;
        max-width: 641px;
        width: 100%;
        display: flex;
        justify-content: center;

        a {
            display: block;
            padding: 39px 41px;
            color: rgb(0, 1, 22);
            font-size: 32px;
            font-weight: 400;
            line-height: 35px;
            text-align: center;
        }
    }
}

.footer {
    background-color: rgb(0, 1, 22);
    height: auto;

    &__container {
        display: flex;
        justify-content: center;

        background:
            url("../images/dist/bt-top-left.png") top 75px left 15px/273px 188px no-repeat,
            url("../images/dist/bt-top-right.png") top 75px right 15px/273px 188px no-repeat,
            url("../images/dist/footerlogo.png") bottom 100px right 5%/242px 242px no-repeat,
            url("../images/dist/podium.png") bottom 150px left 50px/1033px 201px no-repeat;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }

    &__title {
        color: rgb(255, 255, 255);
        @include fluid-text(80, 60);
        font-weight: 400;
        line-height: 91px;
        text-align: center;
        margin: 91px 0 127px 0;
    }

    &__form-wrapper {
        display: flex;
        margin-bottom: 285px;
        background: url("../images/dist/arrow.png") bottom 80px right 700px/298px 220px no-repeat;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__text {
        max-width: 65%;
        color: rgb(255, 255, 255);
        @include fluid-text(64, 40);
        font-weight: 400;
        line-height: 73px;
        text-align: left;
        margin-left: 134px;
    }

    &__contact__tel,
    &__contact__email {
        margin-top: 15px;
        display: inline-block;
        color: rgb(255, 255, 255);
        font-family: 'Alice-Regular', sans-serif;
        @include fluid-text(48, 30);
        font-weight: 400;
        line-height: 55px;
        text-align: center;
        max-width: 100%;
    }

    &__button {
        max-width: 631px;
        width: 100%;
        border-radius: 39px;
        background: rgb(255, 248, 230);
        padding: 31px 0;
        cursor: pointer;

        color: rgb(0, 0, 0);
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        text-align: center;
    }
}

.form {
    margin-right: 97px;

    &__input {
        max-width: 631px;
        width: 100%;
        height: 92px;
        background-color: transparent;
        border: 3px solid rgb(255, 248, 230);
        color: rgb(255, 248, 230);
        border-radius: 39px;
        margin-bottom: 27px;
        padding-left: 41px;

        &::placeholder {
            color: rgb(255, 255, 255);
            font-size: 28px;
        }
    }

}




@media screen and (max-width:1750px) {
    .header {
        &__menu {
            width: 100%;
            display: flex;
            gap: 170px;
            justify-content: center;
            gap: 150px;
        }

        &__logo {
            display: inline-block;
            width: 300px;
            left: 55px;

            &::before {
                right: 230px;
            }

            &::after {
                left: 230px;
            }
        }
    }

    .nav__list-item_right,
    .nav__list-item_left {
        gap: 40px;
    }

    .footer__form-wrapper {
        background: url("../images/dist/arrow.png") bottom 80px right 650px/298px 220px no-repeat;
    }
}

@media screen and (max-width:1600px) {
    .hero__btn-text1 {
        left: 5px;
    }

    .hero__btn-text2 {
        left: 140px;
    }

    .hero__btn-text3 {
        left: 155px;
    }

    .hero__btn-text4 {
        right: 5px;
    }

    .hero__btn-text5 {
        right: 140px;
    }

    .hero__btn-text6 {
        right: 155px;
    }

    .footer__form-wrapper {
        background: none;
    }
}

@media screen and (max-width:1460px) {
    .header {
        &__decor-left {
            right: -165px;
        }

        &__decor-right {
            left: -200px;
        }

        &__menu {
            gap: 100px;
        }
    }

    .hero__wrapper {
        gap: 5px;
        align-items: center;
    }

    .hero__content {
        padding: 10px;
        background-color: rgb(255, 248, 230, 0.9);
        border-radius: 10px;
        min-height: 395px;
    }

    .footer__container {
        background:
            url("../images/dist/bt-top-left.png") top 10px left 15px/273px 188px no-repeat,
            url("../images/dist/bt-top-right.png") top 10px right 15px/273px 188px no-repeat,
            url("../images/dist/footerlogo.png") bottom 100px right 5%/242px 242px no-repeat,
            url("../images/dist/podium.png") bottom 150px left 50px/700px 201px no-repeat;

    }

}

@media screen and (max-width:1290px) {

    .footer__form-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .footer__content {
        align-items: center;
    }

    .footer__title {
        margin: 30px 0 70px 0;
    }

    .footer__text {
        text-align: center;
        margin-left: 0px;
    }

    .form {
        text-align: center;
        margin-right: 0px;
    }
}

@media screen and (max-width:1100px) {
    .header__burger {
        right: 100px;
        display: block;
        opacity: 1;
    }

    .header__decor-left {
        right: -200px;
    }

    .header__menu {
        justify-content: space-between;
        gap: 40px;
    }

    .header__logo {
        left: 85px;
    }

    .nav {
        display: none;
    }

    .nav__list-item_left {
        position: relative;
        right: -75px;
    }

    .hero__block-btn {
        p {
            display: none;
        }
    }

    .hero__wrap-btn {
        margin-top: 100px;
    }

    .clients__bg-inner {
        background: url(../images/dist/top-left.png) top left/314px 107px no-repeat, url(../images/dist/top-right.png) top right/314px 107px no-repeat, url(../images/dist/bottom-right.png) bottom right/314px 107px no-repeat, url(../images/dist/bottom-left.png) bottom left/314px 107px no-repeat;
    }

    .footer__container {
        background: none;
    }
}

@media screen and (max-width:880px) {
    .header {
        background-position: left;

        &__logo::before,
        &__logo::after {
            display: none;
        }

        &__decor-left,
        &__decor-right {
            display: none;
        }

        &__logo {
            left: 0px;
        }

        &__text {
            margin-bottom: 110px;
        }
    }

    .footer__bg {
        background: url("../images/dist/footerlogo.png") bottom 100px right 5%/242px 242px no-repeat;
    }

}

@media screen and (max-width:767px) {
    .wrap-section {
        display: none;
        opacity: 0;
    }

    .header__burger {
        right: 20px;
    }

    .header__container {
        background: none;
      
    }

    .hero {
        background-size: cover;

        &__container {
            height: 120vh;
        }

        &__wrapper {
            flex-direction: column;
        }

        &__button {
            margin-top: 5px;

        }

        &__wrap-btn {
            margin-top: 30px;
        }
    }

    .services__bg-inner {
        background: none;
    }

    .clients {
        &__title {
            margin-top: 90px;
            margin-bottom: 68px;
        }

        &__card {
            &_one {
                &::after {
                    top: 76px;
                    left: -44px;
                }

                &::before {
                    top: -8px;
                    right: -37px;
                }
            }

            &_two {
                &::after {
                    top: 59px;
                    left: -27px;
                    background-image: url("../images/dist/kvadrat-card-left.png");
                }

                &::before {
                    top: 57px;
                    right: -85px;
                    background-image: url("../images/dist/kvadrat-card-right.png");
                }
            }

            &_fore {
                &::after {
                    top: 103px;
                    left: -43px;
                }

                &::before {
                    top: 28px;
                    right: -43px;
                }
            }

            &_five {
                &::after {
                    top: 65px;
                    left: -44px;
                }

                &::before {
                    top: -17px;
                    right: -37px;
                }
            }

            &_eight {
                &::after {
                    top: 101px;
                    left: -48px;
                }

                &::before {
                    top: 25px;
                    right: -37px;
                }
            }
        }

        &__text {
            max-width: 340px;
        }

        &__button {
            width: auto;
            margin: 80px 0 70px 0;
        }

        &__bg-inner {
            background: none;
        }
    }
}

@media screen and (max-width:500px) {
    .header__logo {
        width: 40%;
        top: 50px;
    }

    .hero__title {
        font-size: 30px;
        bottom: 80px;
    }

    .clients__card {

        &::after,
        &::before {
            width: 0;
            height: 0;
        }
    }

    .clients__title {
        margin-top: 20px
    }

    .footer__text {
        max-width: 90%;
    }
}

@media screen and (max-width:400px) {
    .header__btn a {
        padding: 30px;
    }

    .hero__container {
        height: 190vh;
    }

    .clients__text {
        max-width: 265px;
    }

    .clients__button {
        width: 80%;

        a {
            padding: 39px 25px;

        }
    }
}